<h1>Liste des flux RSS</h1>


<table>
  <tr>
    <th>Titre</th>
    <th>Url</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
   
  <tr>
    <td><%= feed.title %></td>
    <td><span class="url"><%= link_to h(feed.url),feed.url %></span></td>
    <td><%= feed.user_id %></td>
    
    <% if current_user==(feed.user) %>
  <td>
    
    <%= link_to "Supprimer", feed, :method => :delete,
                                     :confirm => "Etes-vous certain ?",
                                     :title => feed.url %>

    <span class="timestamp">
      Posted <%= time_ago_in_words(feed.created_at) %>.
    </span>
    
    <td><%= link_to 'Modifier', edit_feed_path(feed) %></td>
  </td>
   <% else %>
   
    
    <td class="feed">
    
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed.created_at) %>.
    </span>
  
   <%end%>
   <%end%>
 
 
  </tr>

</table>

<br />
<%= will_paginate @feeds %>

<%= link_to 'New Feed', new_feed_path %>



