<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.try(:title) %>
</p>


<p>
  <strong>Url:</strong>
  <%= @feed.try(:url) %>
</p>

<%= link_to 'Edit', edit_feed_path %> |
<%= link_to 'Back', feeds_path %>
