<!DOCTYPE html>
<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
          <% unless @user.feeds.empty? %>
        <table class="feeds" summary="Flux RSS de l'utilisateur">
          <%= render @feeds %>
        </table>
        <%= will_paginate @feeds %>
      <% end %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Flux RSS</strong> <%= @user.feeds.count %>
    </td>
  </tr>
</table>


