<!DOCTYPE html>
<html>
  <head>
    <title> <%= @titre %></title>
  </head>
  <body>
    <h1>Agrégateur de flux d'actualité</h1>

<p>
  Page d'accueil
</p>
<% if signed_in? %>
  <table class="front" summary="Pour utilisateur identifié">
    <div id="recent feeds">
  <h3> Récemment </h3>
  <ul>
    <% for entry in Feed.all %>
    <li><%= link_to h(entry.url), entry.url %></li>
  <% end %>
  </ul>
</div>
    <tr>
      <td class="main">
        <h1 class="feed">Ajouter un flux</h1>
        <%= render 'shared/feed_form' %>
        
        
      <p><%= link_to "Consulter les fluxs", feeds_path %></p>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>

<% else %>
<h1>Identification</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "Mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "S'identifier" %>
  </div>
<% end %>
<%end%>
<p>Pas encore inscrit ? <%= link_to "S'inscrire !", signup_path %></p>

  </body>
</html>
