<!DOCTYPE html>
<html>
  <head>
    <title>ProjetRSS</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div class="container">
 <header>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Aide", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profil", current_user %></li>
      
      
      <% if signed_in? %>
      <li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
      <% end %>
      <%end%>
    </ul>
  </nav>
</header>
<section class="round">
  <%=yield%>
</section>
</div>
</body>

</html>


